/*---------- CSS Reset -------*/

*{
    padding:0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}
/*---------- MAIN STYLING ----------*/
body {
    background: #fafafa;
    color: #333;
    font-family: 'Lato', sans-serif;
    font-style: normal;
}

header, section {
    max-width: 500px;
    margin: auto;
    align: center;}

header {
    margin: 5em auto;
}

hr {
    margin: 2em 0;
    height: 1px;
    background-color: #333;
    color: #333;
    border: 0 none
}

h1, h2, h3, h4 {
    font-weight: normal;
    margin-bottom: 1em;
    }

p {font-family: freight-sans-pro, sans-serif;}

p, blockquote {
    margin-bottom: 1.5em;
    line-height: 1.4;}

h1 {font-size: 2.827em;}

h2 {font-size: 1.999em;}

h3 {font-size: 1.414em;}


blockquote {
   font-size: 1.414em;
   hanging-punctuation: first;
   text-indent: -0.44em;}

blockquote cite {
    font-size: 0.75em;}

    .quote-large {
        font-size: 1.999em;
        hanging-punctuation: first;
        text-indent: -0.44em;
        line-height: 1.2;
     }

    .cite-large {
        font-size: 0.6em;}

    .scale {
        padding-left: 3em;
        font-size: 16px;
    }
