/*---------------UNORDERED LIST-----------------*/

<ul>
<li>Hot Type
<ul>
<li> Deberny & Peignot </li>
<li> Fry Foundry </li>
<li> American Type Founders </li>
<li> Linotype </li>
<li> Lanston Monotype </li>
</ul>
</li>

<li>Cold Type
<ul>
<li> Autologic </li>
<li> Berthold </li>
<li> Compugraphic </li>
<li> Hell AG </li>
<li> Monotype </li>
</ul>

<li> Digital Type
<ul>
<li> Linotype </li>
<li> URW++ </li>
<li> Monotype </li>
<li> Bitstream </li>
</ul>


/*------------------NUMBERED LIST WITHIN 2 UNORDERED LISTS-----------*/

<ul> 
                 <li><b>Nicolas Jenson</b>
                   <ul>
                    <li><i>Typeface</i>
                      <ol>
                        <li>Adobe Jenson</li>
                        <li>Jenson Classico</li>
                        <li>LTC Jenson</li>
                      </ol>
                       </li>
                    </ul>

                 <ul>
                    <li><i>Foundry</i>
                      <ol>
                        <li>Adobe</li>
                        <li>Omnibus Typografi</li>
                        <li>Lanston Type</li>
                      </ol>
                      </ul>
                    </li>
                </ul>

                <ul>
                 <li><strong>Claude Garamont</strong>
                   <ul>
                    <li><i>Typeface</i>
                      <ol>
                        <li>Berthold Garamond</li>
                        <li>Simoncini Garamond</li>
                        <li>Adobe Garamond</li>
                      </ol>
                    </ul>

                 <ul>
                    <li><i>Foundry</i>
                      <ol>
                        <li>Berthold</li>
                        <li>Linotype</li>
                        <li>Adobe</li>
                      </ol>
                      </ul>
                 </li>
                </ul>

                <ul>
                 <li><strong>William Caslon</strong>
                   <ul>
                    <li><i>Typeface</i>
                      <ol>
                        <li>Caslon 540</li>
                        <li>ITC Founders Caslon</li>
                        <li>Adobe Caslon</li>
                      </ol>
                    </ul>

                 <ul>
                    <li><i>Foundry</i>
                      <ol>
                        <li>Bitstream</li>
                        <li>ITC Library</li>
                        <li>Adobe</li>
                      </ol>
                      </ul>
                 </li>
                </ul>

                <ul>
                 <li><strong>John Baskerville</strong>
                   <ul>
                    <li><i>Typeface</i>
                      <ol>
                        <li>Baskerville</li>
                        <li>Baskerville Old Face</li>
                        <li>Baskerville No.2</li>
                      </ol>
                    </ul>

                 <ul>
                    <li><i>Foundry</i>
                      <ol>
                        <li>Monotype</li>
                        <li>Scangraphic</li>
                        <li>Bitstream</li>
                      </ol>
                      </ul>
                 </li>
                </ul>

                <ul>
                 <li><strong>Giambattista Bodoni</strong>
                   <ul>
                    <li><i>Typeface</i>
                      <ol>
                        <li>Bodoni</li>
                        <li>Bauer Bodoni</li>
                        <li>Bodoni Classic</li>
                      </ol>
                    </ul>

                 <ul>
                    <li><i>Foundry</i>
                      <ol>
                        <li>Adobe</li>
                        <li>Linotype</li>
                        <li>Wiescher Design</li>
                      </ol>
                      </ul>
                 </li>
                </ul>
        </section>
