/*--------NAV-HTML-CODE---------*/
<article id="top">
<nav>
  <ul>
  <li><a href="#link-one"> Link One </a></li>
  <li><a href="#link-two"> Link Two </a></li>
  <li><a href="#link-three"> Link Three </a></li>
  </ul>
</nav>

<h3> <a id="link-one">Link One </h3> </a> /*-----SAME FOR OTHER HEADINGS-----*/

/*--------NAV-CSS-CODE----------*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: #8F0040;
    padding: 1em 0;
    font-size: 0.75em;
    box-shadow: 0 0 10px 0 black;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li {
    display: inline;
    margin: 20px;
}

nav a:link {
    color: #fafafa;
}

nav a:visited {
    color: #fafafa;
}

nav a:hover {
    border-bottom: none;
    color: #E9B6C9;
  }
  
  
/*----------------SLIDING-NAV-BAR-----------*/
  
  <ul>
  <li class="current"><a href="">Home</a></li>
  <li><a href="">About</a></li>
  <li><a href="">Projects</a></li>
  <li><a href="">Events</a></li>
  <li><a href="">Services</a></li>
  <li><a href="">Contact us</a></li>
</ul>
  
  
 /*-----------CSS-------------------------/*
  body {font-family: sans-serif;}
ul {display: flex; list-style: none; width: 100%; text-transform: uppercase; width: 100%; box-sizing: border-box; padding: 0; margin: 0; position: relative; background-color: #f1f1f1;}
li {flex: 1 1; position: relative;
    &:last-child::after {display: block; content: ""; width: 100%; height: 3px; background-color: transparent; display: block; transition: .3s ease; position: absolute; left: 0; top: 100%;}
   
    &:nth-child(1).current ~ li:last-child::after {left: -500%; background-color: #360033;}
    &:nth-child(2).current ~ li:last-child::after {left: -400%; background-color: #301441;}
    &:nth-child(3).current ~ li:last-child::after {left: -300%; background-color: #263357;}
    &:nth-child(4).current ~ li:last-child::after {left: -200%; background-color: #1b546f;}
    &:nth-child(5).current ~ li:last-child::after {left: -100%; background-color: #117385;}
    &:nth-child(6).current:last-child::after {left: 0; background-color: #0b8793;}
  
    &:nth-child(1):hover ~ li:last-child::after {left: -500%; background-color: #360033;}
    &:nth-child(2):hover ~ li:last-child::after {left: -400%; background-color: #301441;}
    &:nth-child(3):hover ~ li:last-child::after {left: -300%; background-color: #263357;}
    &:nth-child(4):hover ~ li:last-child::after {left: -200%; background-color: #1b546f;}
    &:nth-child(5):hover ~ li:last-child::after {left: -100%; background-color: #117385;}
    &:nth-child(6):last-child:last-child:hover::after {left: 0; background-color: #0b8793 !important;}

    &:nth-child(6):hover::after {left: 0%; background-color: #0b8793;}
    &:nth-child(1) a {color: #360033;}
    &:nth-child(2) a {color: #301441;}
    &:nth-child(3) a {color: #263357;}
    &:nth-child(4) a {color: #1b546f;}
    &:nth-child(5) a {color: #117385;}
    &:nth-child(6) a {color: #0b8793;}
}
a {padding: 1rem; display: block; text-align: center; text-decoration: none; color: #666;}

@media  (max-width: 320px) {
  ul {flex-direction: column}
  li {
    &:last-child::after {margin-top: -1.5px;}
    &:nth-child(1).current ~ li:last-child::after {left: 0; top: -400%;}
    &:nth-child(2).current ~ li:last-child::after {left: 0; top:  -300%;}
    &:nth-child(3).current ~ li:last-child::after {left: 0; top:  -200%;}
    &:nth-child(4).current ~ li:last-child::after {left: 0; top:  -100%;}
    &:nth-child(5).current ~ li:last-child::after {left: 0; top:  0;}
    &:nth-child(6).current:last-child::after {left: 0; top: 100%;}
    
    &:last-child::after {left: 0%; top: 0%;}
    &:nth-child(1):hover ~ li:last-child::after {left: 0; top: -400%;}
    &:nth-child(2):hover ~ li:last-child::after {left: 0; top: -300%;}
    &:nth-child(3):hover ~ li:last-child::after {left: 0; top: -200%;}
    &:nth-child(4):hover ~ li:last-child::after {left: 0; top: -100%;}
    &:nth-child(5):hover ~ li:last-child::after {left: 0; top: 0;}
    &:nth-child(6):last-child:last-child:hover::after {left: 0; top: 100%;}
  }
}
