/*--------NAV-HTML-CODE---------*/
<article id="top">
<nav>
  <ul>
  <li><a href="#link-one"> Link One </a></li>
  <li><a href="#link-two"> Link Two </a></li>
  <li><a href="#link-three"> Link Three </a></li>
  </ul>
</nav>

<h3> <a id="link-one">Link One </h3> </a> /*-----SAME FOR OTHER HEADINGS-----*/

/*--------NAV-CSS-CODE----------*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background-color: #8F0040;
    padding: 1em 0;
    font-size: 0.75em;
    box-shadow: 0 0 10px 0 black;
}

nav ul {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav ul li {
    display: inline;
    margin: 20px;
}

nav a:link {
    color: #fafafa;
}

nav a:visited {
    color: #fafafa;
}

nav a:hover {
    border-bottom: none;
    color: #E9B6C9;
  }
